<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H</key>
	<dict>
		<key>Name</key>
		<string>Hydrogen</string>
		<key>Number</key>
		<integer>1</integer>
		<key>Mass</key>
		<real>1.01</real>
		<key>Symbol</key>
		<string>H</string>
	</dict>
	<key>He</key>
	<dict>
		<key>Name</key>
		<string>Helium</string>
		<key>Number</key>
		<integer>2</integer>
		<key>Mass</key>
		<real>4</real>
		<key>Symbol</key>
		<string>He</string>
	</dict>
	<key>Li</key>
	<dict>
		<key>Name</key>
		<string>Lithium</string>
		<key>Number</key>
		<integer>3</integer>
		<key>Mass</key>
		<real>6.94</real>
		<key>Symbol</key>
		<string>Li</string>
	</dict>
	<key>Be</key>
	<dict>
		<key>Name</key>
		<string>Beryllium</string>
		<key>Number</key>
		<integer>4</integer>
		<key>Mass</key>
		<real>9.01</real>
		<key>Symbol</key>
		<string>Be</string>
	</dict>
	<key>B</key>
	<dict>
		<key>Name</key>
		<string>Boron</string>
		<key>Number</key>
		<integer>5</integer>
		<key>Mass</key>
		<real>10.81</real>
		<key>Symbol</key>
		<string>B</string>
	</dict>
	<key>C</key>
	<dict>
		<key>Name</key>
		<string>Carbon</string>
		<key>Number</key>
		<integer>6</integer>
		<key>Mass</key>
		<real>12.01</real>
		<key>Symbol</key>
		<string>C</string>
	</dict>
	<key>N</key>
	<dict>
		<key>Name</key>
		<string>Nitrogen</string>
		<key>Number</key>
		<integer>7</integer>
		<key>Mass</key>
		<real>14.01</real>
		<key>Symbol</key>
		<string>N</string>
	</dict>
	<key>O</key>
	<dict>
		<key>Name</key>
		<string>Oxygen</string>
		<key>Number</key>
		<integer>8</integer>
		<key>Mass</key>
		<real>16</real>
		<key>Symbol</key>
		<string>O</string>
	</dict>
	<key>F</key>
	<dict>
		<key>Name</key>
		<string>Fluorine</string>
		<key>Number</key>
		<integer>9</integer>
		<key>Mass</key>
		<integer>19</integer>
		<key>Symbol</key>
		<string>F</string>
	</dict>
	<key>Ne</key>
	<dict>
		<key>Name</key>
		<string>Neon</string>
		<key>Number</key>
		<integer>10</integer>
		<key>Mass</key>
		<real>20.18</real>
		<key>Symbol</key>
		<string>Ne</string>
	</dict>
	<key>Na</key>
	<dict>
		<key>Name</key>
		<string>Sodium</string>
		<key>Number</key>
		<integer>11</integer>
		<key>Mass</key>
		<real>22.99</real>
		<key>Symbol</key>
		<string>Na</string>
	</dict>
	<key>Mg</key>
	<dict>
		<key>Name</key>
		<string>Magnesium</string>
		<key>Number</key>
		<integer>12</integer>
		<key>Mass</key>
		<real>24.31</real>
		<key>Symbol</key>
		<string>Mg</string>
	</dict>
	<key>Al</key>
	<dict>
		<key>Name</key>
		<string>Aluminum</string>
		<key>Number</key>
		<integer>13</integer>
		<key>Mass</key>
		<real>26.98</real>
		<key>Symbol</key>
		<string>Al</string>
	</dict>
	<key>Si</key>
	<dict>
		<key>Name</key>
		<string>Silicon</string>
		<key>Number</key>
		<integer>14</integer>
		<key>Mass</key>
		<real>28.09</real>
		<key>Symbol</key>
		<string>Si</string>
	</dict>
	<key>P</key>
	<dict>
		<key>Name</key>
		<string>Phosphorus</string>
		<key>Number</key>
		<integer>15</integer>
		<key>Mass</key>
		<real>30.97</real>
		<key>Symbol</key>
		<string>P</string>
	</dict>
	<key>S</key>
	<dict>
		<key>Name</key>
		<string>Sulfur</string>
		<key>Number</key>
		<integer>16</integer>
		<key>Mass</key>
		<real>32.07</real>
		<key>Symbol</key>
		<string>S</string>
	</dict>
	<key>Cl</key>
	<dict>
		<key>Name</key>
		<string>Chlorine</string>
		<key>Number</key>
		<integer>17</integer>
		<key>Mass</key>
		<real>35.45</real>
		<key>Symbol</key>
		<string>Cl</string>
	</dict>
	<key>Ar</key>
	<dict>
		<key>Name</key>
		<string>Argon</string>
		<key>Number</key>
		<integer>18</integer>
		<key>Mass</key>
		<real>39.95</real>
		<key>Symbol</key>
		<string>Ar</string>
	</dict>
	<key>K</key>
	<dict>
		<key>Name</key>
		<string>Potassium</string>
		<key>Number</key>
		<integer>19</integer>
		<key>Mass</key>
		<real>39.1</real>
		<key>Symbol</key>
		<string>K</string>
	</dict>
	<key>Ca</key>
	<dict>
		<key>Name</key>
		<string>Calcium</string>
		<key>Number</key>
		<integer>20</integer>
		<key>Mass</key>
		<real>40.08</real>
		<key>Symbol</key>
		<string>Ca</string>
	</dict>
	<key>Sc</key>
	<dict>
		<key>Name</key>
		<string>Scandium</string>
		<key>Number</key>
		<integer>21</integer>
		<key>Mass</key>
		<real>44.96</real>
		<key>Symbol</key>
		<string>Sc</string>
	</dict>
	<key>Ti</key>
	<dict>
		<key>Name</key>
		<string>Titanium</string>
		<key>Number</key>
		<integer>22</integer>
		<key>Mass</key>
		<real>47.87</real>
		<key>Symbol</key>
		<string>Ti</string>
	</dict>
	<key>V</key>
	<dict>
		<key>Name</key>
		<string>Vanadium</string>
		<key>Number</key>
		<integer>23</integer>
		<key>Mass</key>
		<real>50.94</real>
		<key>Symbol</key>
		<string>V</string>
	</dict>
	<key>Cr</key>
	<dict>
		<key>Name</key>
		<string>Chromium</string>
		<key>Number</key>
		<integer>24</integer>
		<key>Mass</key>
		<real>52</real>
		<key>Symbol</key>
		<string>Cr</string>
	</dict>
	<key>Mn</key>
	<dict>
		<key>Name</key>
		<string>Manganese</string>
		<key>Number</key>
		<integer>25</integer>
		<key>Mass</key>
		<real>54.94</real>
		<key>Symbol</key>
		<string>Mn</string>
	</dict>
	<key>Fe</key>
	<dict>
		<key>Name</key>
		<string>Iron</string>
		<key>Number</key>
		<integer>26</integer>
		<key>Mass</key>
		<real>55.85</real>
		<key>Symbol</key>
		<string>Fe</string>
	</dict>
	<key>Co</key>
	<dict>
		<key>Name</key>
		<string>Cobalt</string>
		<key>Number</key>
		<integer>27</integer>
		<key>Mass</key>
		<real>58.93</real>
		<key>Symbol</key>
		<string>Co</string>
	</dict>
	<key>Ni</key>
	<dict>
		<key>Name</key>
		<string>Nickel</string>
		<key>Number</key>
		<integer>28</integer>
		<key>Mass</key>
		<real>58.69</real>
		<key>Symbol</key>
		<string>Ni</string>
	</dict>
	<key>Cu</key>
	<dict>
		<key>Name</key>
		<string>Copper</string>
		<key>Number</key>
		<integer>29</integer>
		<key>Mass</key>
		<real>63.55</real>
		<key>Symbol</key>
		<string>Cu</string>
	</dict>
	<key>Zn</key>
	<dict>
		<key>Name</key>
		<string>Zinc</string>
		<key>Number</key>
		<integer>30</integer>
		<key>Mass</key>
		<real>65.39</real>
		<key>Symbol</key>
		<string>Zn</string>
	</dict>
	<key>Ga</key>
	<dict>
		<key>Name</key>
		<string>Gallium</string>
		<key>Number</key>
		<integer>31</integer>
		<key>Mass</key>
		<real>69.72</real>
		<key>Symbol</key>
		<string>Ga</string>
	</dict>
	<key>Ge</key>
	<dict>
		<key>Name</key>
		<string>Germanium</string>
		<key>Number</key>
		<integer>32</integer>
		<key>Mass</key>
		<real>72.61</real>
		<key>Symbol</key>
		<string>Ge</string>
	</dict>
	<key>As</key>
	<dict>
		<key>Name</key>
		<string>Arsenic</string>
		<key>Number</key>
		<integer>33</integer>
		<key>Mass</key>
		<real>74.92</real>
		<key>Symbol</key>
		<string>As</string>
	</dict>
	<key>Se</key>
	<dict>
		<key>Name</key>
		<string>Selenium</string>
		<key>Number</key>
		<integer>34</integer>
		<key>Mass</key>
		<real>78.95999999999999</real>
		<key>Symbol</key>
		<string>Se</string>
	</dict>
	<key>Br</key>
	<dict>
		<key>Name</key>
		<string>Bromine</string>
		<key>Number</key>
		<integer>35</integer>
		<key>Mass</key>
		<real>79.90000000000001</real>
		<key>Symbol</key>
		<string>Br</string>
	</dict>
	<key>Kr</key>
	<dict>
		<key>Name</key>
		<string>Krypton</string>
		<key>Number</key>
		<integer>36</integer>
		<key>Mass</key>
		<real>83.8</real>
		<key>Symbol</key>
		<string>Kr</string>
	</dict>
	<key>Rb</key>
	<dict>
		<key>Name</key>
		<string>Rubidium</string>
		<key>Number</key>
		<integer>37</integer>
		<key>Mass</key>
		<real>85.47</real>
		<key>Symbol</key>
		<string>Rb</string>
	</dict>
	<key>Sr</key>
	<dict>
		<key>Name</key>
		<string>Strontium</string>
		<key>Number</key>
		<integer>38</integer>
		<key>Mass</key>
		<real>87.62</real>
		<key>Symbol</key>
		<string>Sr</string>
	</dict>
	<key>Y</key>
	<dict>
		<key>Name</key>
		<string>Yttrium</string>
		<key>Number</key>
		<integer>39</integer>
		<key>Mass</key>
		<real>88.91</real>
		<key>Symbol</key>
		<string>Y</string>
	</dict>
	<key>Zr</key>
	<dict>
		<key>Name</key>
		<string>Zirconium</string>
		<key>Number</key>
		<integer>40</integer>
		<key>Mass</key>
		<real>91.22</real>
		<key>Symbol</key>
		<string>Zr</string>
	</dict>
	<key>Nb</key>
	<dict>
		<key>Name</key>
		<string>Niobium</string>
		<key>Number</key>
		<integer>41</integer>
		<key>Mass</key>
		<real>92.91</real>
		<key>Symbol</key>
		<string>Nb</string>
	</dict>
	<key>Mo</key>
	<dict>
		<key>Name</key>
		<string>Molybdenum</string>
		<key>Number</key>
		<integer>42</integer>
		<key>Mass</key>
		<real>95.94</real>
		<key>Symbol</key>
		<string>Mo</string>
	</dict>
	<key>Tc</key>
	<dict>
		<key>Name</key>
		<string>Technetium</string>
		<key>Number</key>
		<integer>43</integer>
		<key>Mass</key>
		<integer>98</integer>
		<key>Symbol</key>
		<string>Tc</string>
	</dict>
	<key>Ru</key>
	<dict>
		<key>Name</key>
		<string>Ruthenium</string>
		<key>Number</key>
		<integer>44</integer>
		<key>Mass</key>
		<real>101.07</real>
		<key>Symbol</key>
		<string>Ru</string>
	</dict>
	<key>Rh</key>
	<dict>
		<key>Name</key>
		<string>Rhodium</string>
		<key>Number</key>
		<integer>45</integer>
		<key>Mass</key>
		<real>102.91</real>
		<key>Symbol</key>
		<string>Rh</string>
	</dict>
	<key>Pd</key>
	<dict>
		<key>Name</key>
		<string>Palladium</string>
		<key>Number</key>
		<integer>46</integer>
		<key>Mass</key>
		<real>106.42</real>
		<key>Symbol</key>
		<string>Pd</string>
	</dict>
	<key>Ag</key>
	<dict>
		<key>Name</key>
		<string>Silver</string>
		<key>Number</key>
		<integer>47</integer>
		<key>Mass</key>
		<real>107.87</real>
		<key>Symbol</key>
		<string>Ag</string>
	</dict>
	<key>Cd</key>
	<dict>
		<key>Name</key>
		<string>Cadmium</string>
		<key>Number</key>
		<integer>48</integer>
		<key>Mass</key>
		<real>112.41</real>
		<key>Symbol</key>
		<string>Cd</string>
	</dict>
	<key>In</key>
	<dict>
		<key>Name</key>
		<string>Indium</string>
		<key>Number</key>
		<integer>49</integer>
		<key>Mass</key>
		<real>114.82</real>
		<key>Symbol</key>
		<string>In</string>
	</dict>
	<key>Sn</key>
	<dict>
		<key>Name</key>
		<string>Tin</string>
		<key>Number</key>
		<integer>50</integer>
		<key>Mass</key>
		<real>118.71</real>
		<key>Symbol</key>
		<string>Sn</string>
	</dict>
	<key>Sb</key>
	<dict>
		<key>Name</key>
		<string>Antimony</string>
		<key>Number</key>
		<integer>51</integer>
		<key>Mass</key>
		<real>121.76</real>
		<key>Symbol</key>
		<string>Sb</string>
	</dict>
	<key>Te</key>
	<dict>
		<key>Name</key>
		<string>Tellurium</string>
		<key>Number</key>
		<integer>52</integer>
		<key>Mass</key>
		<real>127.6</real>
		<key>Symbol</key>
		<string>Te</string>
	</dict>
	<key>I</key>
	<dict>
		<key>Name</key>
		<string>Iodine</string>
		<key>Number</key>
		<integer>53</integer>
		<key>Mass</key>
		<real>126.9</real>
		<key>Symbol</key>
		<string>I</string>
	</dict>
	<key>Xe</key>
	<dict>
		<key>Name</key>
		<string>Xenon</string>
		<key>Number</key>
		<integer>54</integer>
		<key>Mass</key>
		<real>131.29</real>
		<key>Symbol</key>
		<string>Xe</string>
	</dict>
	<key>Cs</key>
	<dict>
		<key>Name</key>
		<string>Cesium</string>
		<key>Number</key>
		<integer>55</integer>
		<key>Mass</key>
		<real>132.91</real>
		<key>Symbol</key>
		<string>Cs</string>
	</dict>
	<key>Ba</key>
	<dict>
		<key>Name</key>
		<string>Barium</string>
		<key>Number</key>
		<integer>56</integer>
		<key>Mass</key>
		<real>137.33</real>
		<key>Symbol</key>
		<string>Ba</string>
	</dict>
	<key>La</key>
	<dict>
		<key>Name</key>
		<string>Lanthanum</string>
		<key>Number</key>
		<integer>57</integer>
		<key>Mass</key>
		<real>138.91</real>
		<key>Symbol</key>
		<string>La</string>
	</dict>
	<key>Ce</key>
	<dict>
		<key>Name</key>
		<string>Cerium</string>
		<key>Number</key>
		<integer>58</integer>
		<key>Mass</key>
		<real>140.12</real>
		<key>Symbol</key>
		<string>Ce</string>
	</dict>
	<key>Pr</key>
	<dict>
		<key>Name</key>
		<string>Praseodymium</string>
		<key>Number</key>
		<integer>59</integer>
		<key>Mass</key>
		<real>140.91</real>
		<key>Symbol</key>
		<string>Pr</string>
	</dict>
	<key>Nd</key>
	<dict>
		<key>Name</key>
		<string>Neodymium</string>
		<key>Number</key>
		<integer>60</integer>
		<key>Mass</key>
		<real>144.24</real>
		<key>Symbol</key>
		<string>Nd</string>
	</dict>
	<key>Pm</key>
	<dict>
		<key>Name</key>
		<string>Promethium</string>
		<key>Number</key>
		<integer>61</integer>
		<key>Mass</key>
		<integer>145</integer>
		<key>Symbol</key>
		<string>Pm</string>
	</dict>
	<key>Sm</key>
	<dict>
		<key>Name</key>
		<string>Samarium</string>
		<key>Number</key>
		<integer>62</integer>
		<key>Mass</key>
		<real>150.36</real>
		<key>Symbol</key>
		<string>Sm</string>
	</dict>
	<key>Eu</key>
	<dict>
		<key>Name</key>
		<string>Europium</string>
		<key>Number</key>
		<integer>63</integer>
		<key>Mass</key>
		<real>151.96</real>
		<key>Symbol</key>
		<string>Eu</string>
	</dict>
	<key>Gd</key>
	<dict>
		<key>Name</key>
		<string>Gadolinium</string>
		<key>Number</key>
		<integer>64</integer>
		<key>Mass</key>
		<real>157.25</real>
		<key>Symbol</key>
		<string>Gd</string>
	</dict>
	<key>Tb</key>
	<dict>
		<key>Name</key>
		<string>Terbium</string>
		<key>Number</key>
		<integer>65</integer>
		<key>Mass</key>
		<real>158.93</real>
		<key>Symbol</key>
		<string>Tb</string>
	</dict>
	<key>Dy</key>
	<dict>
		<key>Name</key>
		<string>Dysprosium</string>
		<key>Number</key>
		<integer>66</integer>
		<key>Mass</key>
		<real>162.5</real>
		<key>Symbol</key>
		<string>Dy</string>
	</dict>
	<key>Ho</key>
	<dict>
		<key>Name</key>
		<string>Holmium</string>
		<key>Number</key>
		<integer>67</integer>
		<key>Mass</key>
		<real>164.93</real>
		<key>Symbol</key>
		<string>Ho</string>
	</dict>
	<key>Er</key>
	<dict>
		<key>Name</key>
		<string>Erbium</string>
		<key>Number</key>
		<integer>68</integer>
		<key>Mass</key>
		<real>167.26</real>
		<key>Symbol</key>
		<string>Er</string>
	</dict>
	<key>Tm</key>
	<dict>
		<key>Name</key>
		<string>Thulium</string>
		<key>Number</key>
		<integer>69</integer>
		<key>Mass</key>
		<real>168.93</real>
		<key>Symbol</key>
		<string>Tm</string>
	</dict>
	<key>Yb</key>
	<dict>
		<key>Name</key>
		<string>Ytterbium</string>
		<key>Number</key>
		<integer>70</integer>
		<key>Mass</key>
		<real>173.04</real>
		<key>Symbol</key>
		<string>Yb</string>
	</dict>
	<key>Lu</key>
	<dict>
		<key>Name</key>
		<string>Lutetium</string>
		<key>Number</key>
		<integer>71</integer>
		<key>Mass</key>
		<real>174.97</real>
		<key>Symbol</key>
		<string>Lu</string>
	</dict>
	<key>Hf</key>
	<dict>
		<key>Name</key>
		<string>Hafnium</string>
		<key>Number</key>
		<integer>72</integer>
		<key>Mass</key>
		<real>178.49</real>
		<key>Symbol</key>
		<string>Hf</string>
	</dict>
	<key>Ta</key>
	<dict>
		<key>Name</key>
		<string>Tantalum</string>
		<key>Number</key>
		<integer>73</integer>
		<key>Mass</key>
		<real>180.95</real>
		<key>Symbol</key>
		<string>Ta</string>
	</dict>
	<key>W</key>
	<dict>
		<key>Name</key>
		<string>Tungsten</string>
		<key>Number</key>
		<integer>74</integer>
		<key>Mass</key>
		<real>183.84</real>
		<key>Symbol</key>
		<string>W</string>
	</dict>
	<key>Re</key>
	<dict>
		<key>Name</key>
		<string>Rhenium</string>
		<key>Number</key>
		<integer>75</integer>
		<key>Mass</key>
		<real>186.21</real>
		<key>Symbol</key>
		<string>Re</string>
	</dict>
	<key>Os</key>
	<dict>
		<key>Name</key>
		<string>Osmium</string>
		<key>Number</key>
		<integer>76</integer>
		<key>Mass</key>
		<real>190.23</real>
		<key>Symbol</key>
		<string>Os</string>
	</dict>
	<key>Ir</key>
	<dict>
		<key>Name</key>
		<string>Iridium</string>
		<key>Number</key>
		<integer>77</integer>
		<key>Mass</key>
		<real>192.22</real>
		<key>Symbol</key>
		<string>Ir</string>
	</dict>
	<key>Pt</key>
	<dict>
		<key>Name</key>
		<string>Platinum</string>
		<key>Number</key>
		<integer>78</integer>
		<key>Mass</key>
		<real>195.08</real>
		<key>Symbol</key>
		<string>Pt</string>
	</dict>
	<key>Au</key>
	<dict>
		<key>Name</key>
		<string>Gold</string>
		<key>Number</key>
		<integer>79</integer>
		<key>Mass</key>
		<real>196.97</real>
		<key>Symbol</key>
		<string>Au</string>
	</dict>
	<key>Hg</key>
	<dict>
		<key>Name</key>
		<string>Mercury</string>
		<key>Number</key>
		<integer>80</integer>
		<key>Mass</key>
		<real>200.59</real>
		<key>Symbol</key>
		<string>Hg</string>
	</dict>
	<key>Tl</key>
	<dict>
		<key>Name</key>
		<string>Thallium</string>
		<key>Number</key>
		<integer>81</integer>
		<key>Mass</key>
		<real>204.38</real>
		<key>Symbol</key>
		<string>Tl</string>
	</dict>
	<key>Pb</key>
	<dict>
		<key>Name</key>
		<string>Lead</string>
		<key>Number</key>
		<integer>82</integer>
		<key>Mass</key>
		<real>207.2</real>
		<key>Symbol</key>
		<string>Pb</string>
	</dict>
	<key>Bi</key>
	<dict>
		<key>Name</key>
		<string>Bismuth</string>
		<key>Number</key>
		<integer>83</integer>
		<key>Mass</key>
		<real>208.98</real>
		<key>Symbol</key>
		<string>Bi</string>
	</dict>
	<key>Po</key>
	<dict>
		<key>Name</key>
		<string>Polonium</string>
		<key>Number</key>
		<integer>84</integer>
		<key>Mass</key>
		<integer>209</integer>
		<key>Symbol</key>
		<string>Po</string>
	</dict>
	<key>At</key>
	<dict>
		<key>Name</key>
		<string>Astatine</string>
		<key>Number</key>
		<integer>85</integer>
		<key>Mass</key>
		<integer>210</integer>
		<key>Symbol</key>
		<string>At</string>
	</dict>
	<key>Rn</key>
	<dict>
		<key>Name</key>
		<string>Radon</string>
		<key>Number</key>
		<integer>86</integer>
		<key>Mass</key>
		<integer>222</integer>
		<key>Symbol</key>
		<string>Rn</string>
	</dict>
	<key>Fr</key>
	<dict>
		<key>Name</key>
		<string>Francium</string>
		<key>Number</key>
		<integer>87</integer>
		<key>Mass</key>
		<integer>223</integer>
		<key>Symbol</key>
		<string>Fr</string>
	</dict>
	<key>Ra</key>
	<dict>
		<key>Name</key>
		<string>Radium</string>
		<key>Number</key>
		<integer>88</integer>
		<key>Mass</key>
		<integer>226</integer>
		<key>Symbol</key>
		<string>Ra</string>
	</dict>
	<key>Ac</key>
	<dict>
		<key>Name</key>
		<string>Actinium</string>
		<key>Number</key>
		<integer>89</integer>
		<key>Mass</key>
		<integer>227</integer>
		<key>Symbol</key>
		<string>Ac</string>
	</dict>
	<key>Th</key>
	<dict>
		<key>Name</key>
		<string>Thorium</string>
		<key>Number</key>
		<integer>90</integer>
		<key>Mass</key>
		<real>232.04</real>
		<key>Symbol</key>
		<string>Th</string>
	</dict>
	<key>Pa</key>
	<dict>
		<key>Name</key>
		<string>Protactinium</string>
		<key>Number</key>
		<integer>91</integer>
		<key>Mass</key>
		<real>231.04</real>
		<key>Symbol</key>
		<string>Pa</string>
	</dict>
	<key>U</key>
	<dict>
		<key>Name</key>
		<string>Uranium</string>
		<key>Number</key>
		<integer>92</integer>
		<key>Mass</key>
		<real>238.03</real>
		<key>Symbol</key>
		<string>U</string>
	</dict>
	<key>Np</key>
	<dict>
		<key>Name</key>
		<string>Neptunium</string>
		<key>Number</key>
		<integer>93</integer>
		<key>Mass</key>
		<integer>237</integer>
		<key>Symbol</key>
		<string>Np</string>
	</dict>
	<key>Pu</key>
	<dict>
		<key>Name</key>
		<string>Plutonium</string>
		<key>Number</key>
		<integer>94</integer>
		<key>Mass</key>
		<integer>244</integer>
		<key>Symbol</key>
		<string>Pu</string>
	</dict>
	<key>Am</key>
	<dict>
		<key>Name</key>
		<string>Americium</string>
		<key>Number</key>
		<integer>95</integer>
		<key>Mass</key>
		<integer>243</integer>
		<key>Symbol</key>
		<string>Am</string>
	</dict>
	<key>Cm</key>
	<dict>
		<key>Name</key>
		<string>Curium</string>
		<key>Number</key>
		<integer>96</integer>
		<key>Mass</key>
		<integer>247</integer>
		<key>Symbol</key>
		<string>Cm</string>
	</dict>
	<key>Bk</key>
	<dict>
		<key>Name</key>
		<string>Berkelium</string>
		<key>Number</key>
		<integer>97</integer>
		<key>Mass</key>
		<integer>247</integer>
		<key>Symbol</key>
		<string>Bk</string>
	</dict>
	<key>Cf</key>
	<dict>
		<key>Name</key>
		<string>Californium</string>
		<key>Number</key>
		<integer>98</integer>
		<key>Mass</key>
		<integer>251</integer>
		<key>Symbol</key>
		<string>Cf</string>
	</dict>
	<key>Es</key>
	<dict>
		<key>Name</key>
		<string>Einsteinium</string>
		<key>Number</key>
		<integer>99</integer>
		<key>Mass</key>
		<integer>252</integer>
		<key>Symbol</key>
		<string>Es</string>
	</dict>
	<key>Fm</key>
	<dict>
		<key>Name</key>
		<string>Fermium</string>
		<key>Number</key>
		<integer>100</integer>
		<key>Mass</key>
		<integer>257</integer>
		<key>Symbol</key>
		<string>Fm</string>
	</dict>
	<key>Md</key>
	<dict>
		<key>Name</key>
		<string>Mendelevium</string>
		<key>Number</key>
		<integer>101</integer>
		<key>Mass</key>
		<integer>258</integer>
		<key>Symbol</key>
		<string>Md</string>
	</dict>
	<key>No</key>
	<dict>
		<key>Name</key>
		<string>Nobelium</string>
		<key>Number</key>
		<integer>102</integer>
		<key>Mass</key>
		<integer>259</integer>
		<key>Symbol</key>
		<string>No</string>
	</dict>
	<key>Lr</key>
	<dict>
		<key>Name</key>
		<string>Lawrencium</string>
		<key>Number</key>
		<integer>103</integer>
		<key>Mass</key>
		<integer>262</integer>
		<key>Symbol</key>
		<string>Lr</string>
	</dict>
	<key>Rf</key>
	<dict>
		<key>Name</key>
		<string>Rutherfordium</string>
		<key>Number</key>
		<integer>104</integer>
		<key>Mass</key>
		<integer>261</integer>
		<key>Symbol</key>
		<string>Rf</string>
	</dict>
	<key>Db</key>
	<dict>
		<key>Name</key>
		<string>Dubnium</string>
		<key>Number</key>
		<integer>105</integer>
		<key>Mass</key>
		<integer>262</integer>
		<key>Symbol</key>
		<string>Db</string>
	</dict>
	<key>Sg</key>
	<dict>
		<key>Name</key>
		<string>Seaborgium</string>
		<key>Number</key>
		<integer>106</integer>
		<key>Mass</key>
		<integer>266</integer>
		<key>Symbol</key>
		<string>Sg</string>
	</dict>
	<key>Bh</key>
	<dict>
		<key>Name</key>
		<string>Bohrium</string>
		<key>Number</key>
		<integer>107</integer>
		<key>Mass</key>
		<integer>264</integer>
		<key>Symbol</key>
		<string>Bh</string>
	</dict>
	<key>Hs</key>
	<dict>
		<key>Name</key>
		<string>Hassium</string>
		<key>Number</key>
		<integer>108</integer>
		<key>Mass</key>
		<integer>269</integer>
		<key>Symbol</key>
		<string>Hs</string>
	</dict>
	<key>Mt</key>
	<dict>
		<key>Name</key>
		<string>Meitnerium</string>
		<key>Number</key>
		<integer>109</integer>
		<key>Mass</key>
		<integer>268</integer>
		<key>Symbol</key>
		<string>Mt</string>
	</dict>
</dict>
</plist>
